* {
  font-family: "system-ui";
}

body {
  background-color: white;
}

a {
  font-weight: bold;
}

em {
  background: antiquewhite;
  padding: 2px 6px;
  border-radius: 10px;
}

hr {
  border-color: antiquewhite;
  border-style: dotted;
}

tr:nth-of-type(even), thead tr {
  background: rgba(245, 245, 220, 0.5);
}

th, td {
  padding: 0.3rem 0.5rem;
}

table {
  caption {
    padding-bottom: 10px;
    font-weight: bold;
  }

  colgroup {
    .year {
      background-color: rgba(0, 0, 0, 0.05);
      font-weight: bold;
    }
    .mem {
      background-color: rgba(119, 0, 153, 0.1);
    }
    .epi {
      background-color: rgba(0, 136, 136, 0.1);
    }
  }

  td a {
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
      color: white !important;
    }
  }
  td:nth-child(2) a {
    color: #088;
    &:hover {
      background-color: #088;
    }
  }
  td:nth-child(2) a {
    color: #333;
    &:hover {
      background-color: #333;
    }
  }
  td:nth-child(4) a {
    color: #707;
    &:hover {
      background-color: #707;
    }
  }
}

div#wrapper {
  --scale: 1;
  --offset: calc(-50% * ((1 / var(--scale)) - 1));
  transform: scale(var(--scale)) translate(var(--offset), var(--offset));
}

@media screen and (max-width: 800px) {
  div#wrapper {
    --scale: 0.75;
  }
}